<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
    <script src="index.js"></script>
    <h1 style="text-align: center; font-weight: 200;">Seeded platform generator using <text style="color:#ed225d; font-weight: 500;">P5js</text></h1>
    <div style="text-align: center; width: auto;">
      <input id="seedVal" type="text" placeholder="Enter seed:"style="width: 250px; border-color: green; outline: none; background-color: white; border: 0px; margin-top: 15px; margin-bottom: 10px;"></input>
      <button style="display: block; margin: 0 auto; padding: .10rem .3rem; width: 250px;" onclick="userPref()" class="btn btn-dark">Generate</button>
    </div>
  </head>

  <body style="background-color: aliceblue;">
  </body>
</html>